{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Competições Senac {% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div id="app">
        <main>
            <h1>
                Faça seu login
            </h1>

            <form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="login-container">
                    <fieldset class="login-credentials">
                        <div class="input-wrapper">
                            <label for="id_username">
                                Insira seu CPF ou E-mail:
                            </label>
                            <input type="text" id="id_username" name="username" placeholder="CPF ou E-mail" required>
                        </div>
                        <div class="input-wrapper">
                            <label for="id_password">
                                Senha:
                            </label>
                            <input type="password" name="password" id="id_password" placeholder="Senha" minlength="8" required>
                        </div>
                    </fieldset>
                </div>
                
                <fieldset class="stay-conected">
                    <!-- Campo opcional para "lembrar login" -->
                    <label>
                        <input type="checkbox" name="remember_me"> Manter conectado
                    </label>
                </fieldset>

                <button type="submit">
                    Logar
                </button>
            </form>
        </main>
        <aside>
            <img src="{% static 'login-image.jpg' %}" alt="">
        </aside>
    </div>
</body>
</html>
