{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/main/event.css' %}">

    <body>
        <main class="grid container grid-container-1">
            <section class="description" id="description">
                <div class="title">
                    Liza - O Grande Show
                </div>
                <ul>
                    <li class="desc-list">
                        <img src="{% static 'icons/calendar.svg' %}" alt="">
                        <span>Data</span>
                    </li>
                    <li class="desc-list">
                        <img src="{% static 'icons/clock.svg' %}" alt="">
                        <span>Dia do mês e horário</span>
                    </li>
                    <li class="desc-list">
                        <img src="{% static 'icons/map-pin.svg' %}" alt="">
                        <span>Senac Music Hall - Brasília, DF</span>
                    </li>
                    <li class="desc-list">
                        <img src="{% static 'icons/people.svg' %}" alt="">
                        <span>Lotação: 5000 pessoas</span>
                    </li>
                </ul>
            </section>

            <section class="promo-image" id="promo-image">
                <div>
                    <img src="{% static 'promo-image.svg' %}" alt="">
                </div>
            </section>

            <section class="tickets-menu" id="tickets-menu">
                <div class="menu-wrapper">
                    <div class="title">
                        Plateia
                    </div>
                    <div class="tickets">
                        <div class="track-ticket flex ticket">
                            <div>
                                Plateia central
                            </div>
                            <div class="flex counter">
                                <button class="btn-">
                                    -
                                </button>
                                <div>
                                    0
                                </div>
                                <button class="btn+">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="side-1-ticket flex ticket">
                            <div>
                                Área Lateral 1
                            </div>
                            <div class="flex counter">
                                <button class="btn-">
                                    -
                                </button>
                                <div>
                                    0
                                </div>
                                <button class="btn+">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="side-2-ticket flex ticket">
                            <div>
                                Área Lateral 2
                            </div>
                            <div class="flex counter">
                                <button class="btn-">
                                    -
                                </button>
                                <div>
                                    0
                                </div>
                                <button class="btn+">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="front-ticket flex ticket">
                            <div>
                                Área VIP
                            </div>
                            <div class="flex counter">
                                <button class="btn-">
                                    -
                                </button>
                                <div>
                                    0
                                </div>
                                <button class="btn+">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="accessibility-ticket flex ticket">
                            <div>
                                Área Acessível
                            </div>
                            <div class="flex counter">
                                <button class="btn-">
                                    -
                                </button>
                                <div>
                                    0
                                </div>
                                <button class="btn+">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button">
                    Reservar Ingressos
                </button>
            </section>

            <section class="sectors-map" id="sectors-map">
                <div class="sectors-map-wrapper">
                    <div class="grid grid-container-2">
                        <div class="track area">
                            <div class="flex flex-area">
                                <span>Plateia central</span>
                                <span>3000</span>
                            </div>
                        </div>
                        <div class="side-2 area">
                            <div class="flex flex-area">
                                <span>Área lateral 2</span>
                                <span>700</span>                               
                            </div>
                        </div>
                        <div class="side-1 area">
                            <div class="flex flex-area">
                                <span>Área lateral 1</span>
                                <span>700</span>
                            </div>
                        </div>
                        <div class="front flex area">
                            <div class="accessibility-wrapper flex">
                                <img src="{% static 'icons/accessibility.svg' %}" alt="">
                                <img src="{% static 'icons/accessibility.svg' %}" alt="">
                            </div>
                            <div class="flex flex-area">
                                <span>Área VIP</span>
                                <span>600</span>
                            </div>
                        </div>
                        <div class="stage area">
                            Palco
                        </div>
                    </div>
                    <div class="flex status-wrapper">
                        <div>
                            <img src="{% static 'icons/green-circle.svg' %}" alt="">
                            <span>Disponível</span>
                        </div>
                        <div>
                            <img src="{% static 'icons/gray-circle.svg' %}" alt="">
                            <span>Esgotado</span>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>


{% endblock %}