@import url(../global.css);

main {
    justify-content: center;
}

#promo-image {
  width: 100%;
  overflow: hidden;

  &  img {
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 0.1rem lightgray;
    
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
}

#event-info {
    display: flex;
    flex-flow: column;
    margin-top: 0.5rem;

    align-items: center;

    & a {
        text-decoration: none;
        color: black;
        font: 400 2.5rem/1.0 var(--font-family)
    }

    & .event-info-wrapper {
        display: flex;
        margin-top: 0.5rem;
        gap: 2rem;

        color: #1331A1;

        div:nth-child(1){
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        div:nth-child(2){
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}

