{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/main/event-config.css' %}">

    <body>
        <div id="config">
            <header>
                <a href="http://127.0.0.1:8000/">
                    <img src="{% static 'icons/back.svg' %}" alt="">
                </a>
                <h1>
                    Configurações do evento:
                </h1>
            </header>
            <form action="post">
                <div class="input-wrapper">
                    <label for="title">
                        Título:
                    </label>
                    <input type="text" id="title" name="title" value="O Grande Show, Estrelado pela cantora Liza">
                </div>
                <div class="input-wrapper">
                    <label for="address">
                        Endereço:
                    </label>
                       <input type="text" name="address" id="address" value="Senac Music Hall - Brasília, DF">
                </div>
                <div class="input-wrapper">
                    <label for="datetime">
                            Data e Hora do evento:
                    </label>
                    <input type="text" name="datetime" id="datetime" value="**/**/**** às XX:XX Horas">
                </div>
                <div class="input-wrapper">
                    <label for="desc">
                        Descrição:
                    </label>
                    <textarea name="desc" id="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo eum impedit voluptates ad quae quia minus similique nam consequatur obcaecati fugiat libero, accusantium itaque maiores deleniti nulla optio voluptatem iusto?</textarea>
                </div>
            </form>
        </div>
    </body>
    
{% endblock %}